body {background-color:black;font-family:arial;color:white;}
h1{color:gray;font-family:verdana}
.maindiv{
    background-color:white;
    color:black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    box-align: center;
    line-height: 100%;
}
.tab{
    display: inline-block;
    margin-left: 70px;
    
}
.tab0{
    display: inline-block;
    margin-left: 70px;
    margin-top: 30px;
    
}
.tab1{
    display: inline-block;
    
    background-color: yellow;
    color: black;
}
input{margin-left: 50px;}
#rate{
    margin-left: 70px;
    width:150px;
    height: 10px;
}

select{margin-left: 20px;}



